.clearfix::after,
.grid__row::after {
    content: ' ';
    clear: both;
    display: block;
}
.grid__row {
    background-color: transparent;
}

.grid__column-9,
.grid__column-4,
.grid__column-8,
.grid__column-6,
.grid__column-3,
.grid__column-2,
.grid__column-1,
.grid__column-40,
.grid__column-60 {
    display: block;
    float: left;
    padding: 40px;
    margin: 0px;
}
.clear {
    background: transparent;
    clear: both;
}

.grid__column-3 { width: 25%; }
.grid__column-4 { width: 33.33%; }
.grid__column-6 { width: 16.67%; }
.grid__column-2 { width: 50%; }
.grid__column-1 { width: 100%; }
.grid__column-8 { width: 66.67%;}
.grid__column-9 { width: 75%;}
.grid__column-60 { width: 60%;}
.grid__column-40 { width: 40%;}

@media screen and (max-width: 800px) {
.grid__column-9,
.grid__column-4,
.grid__column-8,
.grid__column-6,
.grid__column-3,
.grid__column-2,
.grid__column-1,
.grid__column-40,
.grid__column-60 {
    display: block;
    float: none;
    padding: 20px;
    margin: 0px;
    max-width:100%;
    width:100%;
}
}


/************ text align **********/
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/*********** padding ***********/
.padding-zero {
    padding: 0;
}

.padding-top-zero {
    padding-top: 0;
}

.padding-left-zero {
    padding-left: 0
}

.padding-right-zero {
    padding-right: 0;
}

.padding-bottom-zero{
    padding-bottom: 0;
}

.padding-bottom-bottom {
    padding-bottom: 10px;
}
.padding-bottom-button {
    padding-bottom: 30px;
}

.padding-top {
    padding-top: 20px;
}

.padding-topper {
    padding-top: 40px;
}

.padding-top-bottom {
    padding-top: 320px;
    padding-bottom: 320px;
}

.padding-top-bottom-form {
    padding: 10px 0;
}

.padding-top-bottom-comment {
    padding-top: 10px;
    padding-bottom: 5px;
}

.padding-only-top {
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.last {
    margin-bottom: 100px;
}

.number {
    margin-top: 50px;
}

.tekstnumber {
    margin-top: 30px;
    margin-bottom: 100px;

}

.speciallineheight {
    line-height: 1.20;
    padding-bottom: 22px;
}
.specialpadding {
    line-height: 1.20;
}

.name {
    margin-top: 20px;
    margin-bottom: 100px;
}

.description {
    height: 110%;
}

.icon {
    color: white;
}