.clearfix::after,
.grid__row::after {
    content: ' ';
    clear: both;
    display: block;
}
.grid__row {
    background-color: transparent;
}

.grid__column-9,
.grid__column-4,
.grid__column-8,
.grid__column-6,
.grid__column-3,
.grid__column-2,
.grid__column-1 {
    display: block;
    float: left;
    padding: 40px;
    margin: 0px;
}
.clear {
    background: transparent;
    clear: both;
}

.grid__column-3 { width: 25%; }
.grid__column-4 { width: 33.33%; }
.grid__column-6 { width: 16.6666667%; }
.grid__column-2 { width: 50%; }
.grid__column-1 { width: 100%; }
.grid__column-8 { width: 66.6666667%;}
.grid__column-9 { width: 75%;}

@media screen and (max-width: 800px) {
.grid__column-9,
.grid__column-4,
.grid__column-8,
.grid__column-6,
.grid__column-3,
.grid__column-2,
.grid__column-1 {
    display: block;
    float: none;
    padding: 20px;
    margin: 0px;
    max-width:100%;
    width:100%;
}
}


/****** specials footer ******/
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.padding-top-zero {
    padding-top: 0;
}

.padding-left-zero {
    padding-left: 0
}

.padding-bottom-zero{
    padding-bottom: 0;
}

.padding-bottom-bottom {
    padding-bottom: 10px;
}

.icon {
    color: white;
}
.padding-top {
    padding-top: 20px;
}

.padding-topper {
    padding-top: 40px;
}

.padding-top-bottom {
    padding-top: 320px;
    padding-bottom: 320px;
}