/******************** allround - body ********************/
* {
    box-sizing: border-box;
}

body,html  {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

body, header, main, nav, footer, section, aside, article {
    display: block;
}

.container {
    width: 95%;
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}

.layer {
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 13, 0.64);

}

/******************** logo ********************/
#logo {
    width: 200px;
    padding-top: 2px;
}
/******************** header/navigation ********************/
#topnav {
    z-index: 599;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    transition: all .5s ease;
    min-height: 62px;
    border-bottom: 0.25px solid transparent;

}

#topnav .logo {
    float: left;
    padding-top: 14px;
    padding-bottom: 5px;
}
.menu-extras {
    float: right;
}

.last__item {
    padding-right: 20px;
}

#topnav #navigation {
    display: block!important;
}

#topnav .navigation-menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#topnav .navigation-menu > li > a {
    padding-top: 32px;
    padding-bottom: 25px;
    min-height: 62px;
}

.navigation-menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.navigation-menu::after {
    content: ' ';
    clear: both;
    display: block;
}
.navigation__item {
    background: transparent;
    float: left;
}
.navigation__item a {
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.navigation__item a:hover {
    transition: all 0.3s ease;
    color: hsl(211, 30%, 69%);
}

.navigation__item a:active {
    color: hsl(0, 0%, 30%);
}

#logoa {
    padding-left: 0;
}
/******************** end navigation ********************/

/******************** home ********************/
.homecontainer{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(https://ableton-production.imgix.net/tours/live/header-create.jpg?auto=format&fm=jpg&fit=crop);
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-at-a-glance.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=871&ixjsv=1.1.3&q=50&w=1199);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-extend.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-perform.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-feature-comparison.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/photo-capture.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-new-in-9-5.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/learn/header.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-finish.jpg?auto=format&fm=jpg&fit=crop)*/

}

.aboutcontainer {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-create.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-at-a-glance.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=871&ixjsv=1.1.3&q=50&w=1199);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-extend.jpg?auto=format&fm=jpg&fit=crop);*/
    background-image: url(https://ableton-production.imgix.net/tours/live/header-perform.jpg?auto=format&fm=jpg&fit=crop);
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-feature-comparison.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/photo-capture.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-new-in-9-5.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/learn/header.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-finish.jpg?auto=format&fm=jpg&fit=crop)*/

}

/************** approach ********/
.approachcontainer {
    width: 100%;
    height: 100%;
    background-color: hsl(225, 100%, 85%)
}


#middletext {
    text-align: center;
    color: white;
}
.header {
    padding-top: 150px;
}






















/* first meet quote */
.banner {
    float: right;
    text-align: right;
    padding-top: 250px;
    
}

.banner .container {
    margin-bottom: 5vh;
}

.buttonleft {
    float: left;
    padding-top: 508px;
}
/******************** end home ********************/


/************************************************************************overons ************/
/******************** titel wat maakt ons beter *******************/
.centerzin {
    padding-top: 110px;
    margin-bottom: 40px;
}
#centerzin {
    text-align: center;
}

/******************** grid column *******************/

.last {
    margin-bottom: 100px;
}

.number {
    margin-top: 50px;
}

.tekstnumber {
    margin-top: 30px;
    margin-bottom: 100px;

}

.speciallineheight {
    line-height: 1.20;
    padding-bottom: 22px;
}
.specialpadding {
    line-height: 1.20;
}

.name {
    margin-top: 20px;
    margin-bottom: 100px;
}

/******************** end grid column *******************/
/******************** end first section under home *******************/

/******************** over ons 'team'********************/

.team {
    background-color: hsl(128, 100%, 86%);
}



























/******************** buttons ********************/
/********** small button **********/
.btnsmall {
    display: inline-block;
    border: solid 1.5px;
    color: hsl(0, 0%, 0%);
    border-color: hsl(0, 0%, 0%);
    background-color: transparent;
    padding: 0 16px;
    text-decoration: none;
    height: 37px;
    text-align: center;

}

.btnsmall:hover {  
    transition: all .3s ease;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);

}

.btnsmall:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(196, 83%, 40%);
    border-color: hsl(0, 0%, 0%);
}

/********** big button **********/
.btnbig {
    display: inline-block;
    border: solid 7px;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.btnbig:hover {
    transition: all .3s ease;
    color: rgba(33, 33, 33, 0.8);
    background-color: hsl(0, 0%, 100%);
    border-color: rgba(255, 255, 255, 0.8);

}

.btnbig:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(211, 30%, 69%);
    border-color: hsl(211, 30%, 69%);
}


.btnlstn {
    display: inline-block;
    border: solid 7px;
    color: hsl(0, 0%, 13%);
    border-color: hsl(0, 0%, 13%);
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.btnlstn:hover {
    transition: all .3s ease;
    color: hsl(212, 14%, 51%);
    background-color:transparent;
    border-color: hsl(212, 14%, 51%);

}

.btnlstn:active {
    color:  hsl(0, 0%, 13%);
    background-color: hsl(211, 30%, 69%);
    border-color: hsl(211, 30%, 69%);
}

/******************** end buttons *******************/

/******************** footer ********************/
footer {
    background: hsl(0, 0%, 13%);
    padding-top: 30px;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 100%;
    vertical-align: baseline;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}


.ul {
    list-style-type: none;
}

li {
    color: white;
    list-style-type: none;
    font-size: 12px;
}

.whitefooter {
    color: white;
    font-size: 10px;
}


/******************** end footer *******************/