
/******************** buttons ********************/
/********** small button **********/
.btnsmall {
    display: inline-block;
    border: solid 1px;
    color: hsl(0, 0%, 0%);
    border-color: hsl(0, 0%, 0%);
    background-color: transparent;
    padding: 0 16px;
    text-decoration: none;
    height: 37px;
    text-align: center;

}

.btnsmall:hover {   
    transition: all .3s ease;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);

}

.btnsmall:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(196, 83%, 40%);
    border-color: hsl(0, 0%, 0%);
}

/********** big button **********/
.btnbig {
    display: inline-block;
    border: solid 1px;
    color: hsl(0, 0%, 0%);
    border-color: hsl(0, 0%, 0%);
    background-color: transparent;
    padding: 0 28px;
    text-decoration: none;
    height: 55px;
    text-align: center;
}

.btnbig:hover {
    transition: all .3s ease;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);

}

.btnbig:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(196, 83%, 40%);
    border-color: hsl(0, 0%, 0%);
}