/******************** allround - body ********************/
* {
    box-sizing: border-box;
}

body,html  {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

body, header, main, nav, footer, section, aside, article {
    display: block;
}

.container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/******************** logo ********************/
#logo {
    width: 200px;
}
/******************** header/navigation ********************/
#topnav {
    z-index: 599;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    transition: all .5s ease;
    min-height: 62px;
    border-bottom: 0.25px solid transparent;

}

#topnav .logo {
    float: left;
    padding-top: 14px;
    padding-bottom: 5px;
}
.menu-extras {
    float: right;
}

.last__item {
    padding-right: 20px;
}

#topnav #navigation {
    display: block!important;
}

#topnav .navigation-menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#topnav .navigation-menu > li > a {
    padding-top: 32px;
    padding-bottom: 25px;
    min-height: 62px;
}

.navigation-menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.navigation-menu::after {
    content: ' ';
    clear: both;
    display: block;
}
.navigation__item {
    background: transparent;
    float: left;
}
.navigation__item a {
    background: transparent;
    color: hsl(60, 3.6%, 11%);
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.navigation__item a:hover {
    transition: all 0.3s ease;
    color: hsl(196, 83%, 40%);
}

.navigation__item a:active {
    color: hsl(0, 0%, 30%);
}
/******************** end navigation ********************/

/******************** home ********************/
.maincontainer{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-create.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-at-a-glance.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=871&ixjsv=1.1.3&q=50&w=1199);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-extend.jpg?auto=format&fm=jpg&fit=crop);*/
    background-image: url(https://ableton-production.imgix.net/tours/live/header-perform.jpg?auto=format&fm=jpg&fit=crop);
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-feature-comparison.jpg?auto=format&fm=jpg&fit=crop);*/
}

/* first meet quote */
.banner {
    text-align: right;
    padding-top: 150px;
}

.banner .container {
    margin-bottom: 5vh;
}
/******************** end home ********************/


/******************** first section under home *******************/
.centerzin {
    padding-top: 110px;
    margin-bottom: 40px;
}
#centerzin {
    text-align: center;
}

/******************** grid column *******************/
.clearfix::after,
.grid__row::after {
    content: ' ';
    clear: both;
    display: block;
}
.grid__row {
    background-color: transparent;
}

.grid__column-4 {
    display: block;
    float: left;
    padding: 40px;
    margin: 0px;
    text-align: center; 
}

.clear {
    background: red;
    clear: both;
}

.grid__column-4 { width: 33.33%; }

.last {
    margin-bottom: 100px;
}

.number {
    margin-top: 50px;
}

.tekstnumber {
    margin-top: 30px;
    margin-bottom: 100px;

}

.speciallineheight {
    line-height: 1.20;
    padding-bottom: 22px;
}

/******************** end grid column *******************/
/******************** end first section under home *******************/


/******************** buttons ********************/
/********** small button **********/
.btnsmall {
    display: inline-block;
    border: solid 1.5px;
    color: hsl(0, 0%, 0%);
    border-color: hsl(0, 0%, 0%);
    background-color: transparent;
    padding: 0 16px;
    text-decoration: none;
    height: 37px;
    text-align: center;

}

.btnsmall:hover {  
    transition: all .3s ease;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);

}

.btnsmall:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(196, 83%, 40%);
    border-color: hsl(0, 0%, 0%);
}

/********** big button **********/
.btnbig {
    display: inline-block;
    border: solid 2px;
    color: hsl(0, 0%, 0%);
    border-color: hsl(0, 0%, 0%);
    background-color: transparent;
    padding: 0 28px;
    text-decoration: none;
    height: 55px;
    text-align: center;
}

.btnbig:hover {
    transition: all .3s ease;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);

}

.btnbig:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(196, 83%, 40%);
    border-color: hsl(0, 0%, 0%);
}

/******************** end buttons *******************/

/******************** footer ********************/
footer {
    background: #708194;
    padding: 40px 0;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 100%;
    vertical-align: baseline;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

#firstfooter {
    background: #565c66;
    height: 50px;
}
/******************** end footer *******************/