/******************** allround - body ********************/
* {
    box-sizing: border-box;
}

body,html  {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

body, header, main, nav, footer, section, aside, article {
    display: block;
}

.container {
    width: 95%;
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}

.layer {
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 13, 0.64);

}

/******************** logo ********************/
#logo {
    width: 200px;
    padding-top: 2px;
}
/******************** header/navigation ********************/
#topnav {
    z-index: 599;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    transition: all .5s ease;
    min-height: 62px;
    border-bottom: 0.25px solid transparent;

}

#topnav .logo {
    float: left;
    padding-top: 14px;
    padding-bottom: 5px;
}
.menu-extras {
    float: right;
}

.last__item {
    padding-right: 20px;
}

#topnav #navigation {
    display: block!important;
}

#topnav .navigation-menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#topnav .navigation-menu > li > a {
    padding-top: 32px;
    padding-bottom: 25px;
    min-height: 62px;
}

.navigation-menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.navigation-menu::after {
    content: ' ';
    clear: both;
    display: block;
}
.navigation__item {
    background: transparent;
    float: left;
}
.navigation__item a {
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.navigation__item a:hover {
    transition: all 0.3s ease;
    color: hsl(211, 30%, 69%);
}

.navigation__item a:active {
    color: hsl(0, 0%, 30%);
}

#logoa {
    padding-left: 0;
}
/******************** end navigation ********************/

/******************** home ********************/
.homecontainer{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(https://ableton-production.imgix.net/tours/live/header-create.jpg?auto=format&fm=jpg&fit=crop);
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-at-a-glance.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=871&ixjsv=1.1.3&q=50&w=1199);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-extend.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-perform.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-feature-comparison.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/photo-capture.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-new-in-9-5.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/learn/header.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-finish.jpg?auto=format&fm=jpg&fit=crop)*/

}

.aboutcontainer {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-create.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-at-a-glance.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=871&ixjsv=1.1.3&q=50&w=1199);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-extend.jpg?auto=format&fm=jpg&fit=crop);*/
    background-image: url(https://ableton-production.imgix.net/tours/live/header-perform.jpg?auto=format&fm=jpg&fit=crop);
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-feature-comparison.jpg?auto=format&fm=jpg&fit=crop);*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/photo-capture.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-new-in-9-5.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/learn/header.jpg?auto=format&fm=jpg&fit=crop)*/
    /*background-image: url(https://ableton-production.imgix.net/tours/live/header-finish.jpg?auto=format&fm=jpg&fit=crop)*/

}

.contactcontainer {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(https://ableton-production.imgix.net/tours/live/header-at-a-glance.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=871&ixjsv=1.1.3&q=50&w=1199);

}

/************** approach ********/
.approachcontainer {
    width: 100%;
    height: 100%;
    background-color: hsl(225, 100%, 85%)
}

.approach_width {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


#middletext {
    text-align: center;
    color: white;
}
.header {
    padding-top: 150px;
    margin-bottom: 100px;
}

/* first meet quote */
.banner {
    float: right;
    text-align: right;
    padding-top: 250px;
    
}

.banner .container {
    margin-bottom: 5vh;
}

.buttonleft {
    float: left;
    padding-top: 508px;
}

.approachintro {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    margin-bottom: 150px;
}

.text-black {
    color: hsl(0,0%, 13%);
    padding-top: 10px;
}
.text-white {
    color: hsl(0, 0%, 100%);
}

.margin-less-top {
    margin-top: 30px;
}

.margin-top {
    margin-top: 100px;
}

.margin-topper {
    margin-top: 250px;
}

.margin-bottom {
    margin-bottom: 200px;
}

.message-container {
    position: absolute;
    width: 60%;
    background-color: hsl(0, 0%, 13%);
    height: 60%;
    margin-left: 18%;
    margin-top: 150px;
}

.form-container {
    margin: 25px 0;
}

/******************** end home ********************/


/************************************************************************overons ************/
/******************** titel wat maakt ons beter *******************/
.centerzin {
    padding-top: 110px;
    margin-bottom: 40px;
}
#centerzin {
    text-align: center;
}

/******************** grid column *******************/

.last {
    margin-bottom: 100px;
}

.number {
    margin-top: 50px;
}

.tekstnumber {
    margin-top: 30px;
    margin-bottom: 100px;

}

.speciallineheight {
    line-height: 1.20;
    padding-bottom: 22px;
}
.specialpadding {
    line-height: 1.20;
}

.name {
    margin-top: 20px;
    margin-bottom: 100px;
}

/******************** end grid column *******************/
/******************** end first section under home *******************/

/******************** over ons 'team'********************/

.team {
    background-color: hsl(128, 100%, 86%);
}


.quote {
    color: hsl(0, 0%, 13%);
    background-color: white;

}
/******************** end over ons 'team'********************/
/******************** home demos'********************/


.box-right {
    float: right;
    padding-right: 0;
    height: 630px;
}


.float-right {
    float: right;
}

.img-right-sampling {
    height: 630px;
    background-image: url(https://ableton-production.imgix.net/tours/live/header-extend.jpg?auto=format&fm=jpg&fit=crop);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-left-recording {
    height: 630px;
    background-image: url(https://ableton-production.imgix.net/tours/live/photo-capture.jpg?auto=format&fm=jpg&fit=crop);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-right-mastering {
    height: 630px;
    background-image: url(https://ableton-production.imgix.net/tours/live/header-new-in-9-5.jpg?auto=format&fm=jpg&fit=crop);
    background-repeat: no-repeat;
    background-size: cover;
}

.color-blue {
    background-color: hsl(225, 100%, 85%);
}

.color-red {
    background-color: hsl(12, 100%, 90%);
}

.color-green {
    background-color: hsl(128, 100%, 86%);
}

.close__lineheight {
    line-height: 1.1;
    padding-bottom: 30px;
}

.button-tag {
    padding: 76px 0;
}

.portfoliointro {
    height: 120%;
}

.getstartedintro {
    height: 170%;
}

.box-left {
    margin-top: 250px;
    height: 630px;
}

.sampling-box {
    height: 100%;
}



/******************** buttons ********************/
/********** small button **********/
.btnsmall {
    display: inline-block;
    border: solid 1.5px;
    color: hsl(0, 0%, 0%);
    border-color: hsl(0, 0%, 0%);
    background-color: transparent;
    padding: 0 16px;
    text-decoration: none;
    height: 37px;
    text-align: center;

}

.btnsmall:hover {  
    transition: all .3s ease;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);

}

.btnsmall:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(196, 83%, 40%);
    border-color: hsl(0, 0%, 0%);
}

/********** big button **********/
.btnbig {
    display: inline-block;
    border: solid 5px;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.btnbig:hover {
    transition: all .3s ease;
    color: rgba(33, 33, 33, 0.8);
    background-color: hsl(0, 0%, 100%);
    border-color: rgba(255, 255, 255, 0.8);

}

.btnbig:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(211, 30%, 69%);
    border-color: hsl(211, 30%, 69%);
}


.btnlstn {
    display: inline-block;
    border: solid 7px;
    color: hsl(0, 0%, 13%);
    border-color: hsl(0, 0%, 13%);
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.btnlstn:hover {
    transition: all .3s ease;
    color: hsl(212, 14%, 51%);
    background-color:transparent;
    border-color: hsl(212, 14%, 51%);

}

.btnlstn:active {
    color:  hsl(0, 0%, 13%);
    background-color: hsl(211, 30%, 69%);
    border-color: hsl(211, 30%, 69%);
}

.btnlink {
    display: inline-block;
    border: solid 7px;
    color: hsl(0,0%, 13%);
    border-color: hsl(0,0%, 13%);
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.btnlink:hover {
    transition: all .3s ease;
    color: hsl(0, 0%, 100%);
    background-color: hsl(225, 100%, 85%);
    border-color: hsl(225, 100%, 85%);

}

.btnlink:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(211, 30%, 69%);
    border-color: hsl(211, 30%, 69%);
}

.footerbtn {
    color: hsl(0, 0%, 100%);
    font-size: 40px;
}

.footerbtn:hover {
    transition: all .3s ease;
    color: hsl(225, 100%, 85%);
    
}

/******************** end buttons *******************/

/******************** footer ********************/
footer {
    background: hsl(0, 0%, 13%);
    padding-top: 30px;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}


.ul {
    list-style-type: none;
}

li {
    color: white;
    list-style-type: none;
    font-size: 12px;
}

.whitefooter {
    color: white;
    font-size: 10px;
}


/******************** end footer *******************/


/******************** form *******************/
input {
    width: 100%;
    padding: 12px;
    border: solid 2px hsl(0, 0%, 100%);
    background-color: transparent;
    font-size: 16px;
    font-family: 'Gotham';
    color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    outline: none;
}

input:focus {
    border-color: hsl(225, 100%, 85%);
    background-color: hsl(225, 100%, 85%);
}

textarea {
    height: 114px;
    padding: 12px;
    width: 100%;
    border: solid 2px hsl(0, 0%, 100%);
    background-color: transparent;
    font-size: 16px;
    font-family: 'Gotham';
    color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    outline: none;
    resize: none;
}

.form__submit {
    font-weight: bold;
    cursor: pointer;
}

.form__submit:hover {
    color: hsl(0, 0%, 13%);
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 100%);
    transition: all .3s ease;
}
/******************** end form*******************/