/******************** allround - body ********************/
* {
    box-sizing: border-box;
}

body,html  {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    font-family: 'gotham';
}

body, header, main, nav, footer, section, aside, article {
    display: block;
}

.container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.layer {
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 13, 0.64);

}

/******************** logo ********************/
.logo__img {
    width: 200px;
    padding-top: 2px;
}
/******************** header/navigation ********************/

#topnav {
    z-index: 599;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border: 0;
    transition: all .5s ease;
    min-height: 62px;
}

.nav-colored { 
    background-color: hsl(0, 0%, 13%); 
    }
.nav-transparent { 
    background-color:transparent;
    }

.logo {
    float: left;
    padding-top: 14px;
    padding-bottom: 5px;
}

.last__item {
    padding-right: 20px;
}
 

.nav__container {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav__container > li > a {
    padding-top: 32px;
    padding-bottom: 25px;
    min-height: 62px;
}


.nav__container::after {
    content: ' ';
    clear: both;
    display: block;
}
.nav__grid__column-5  {
    float: left;
}
.nav__grid__column-5  a { /* bewust gedaan zodat het makkelijker is de items aan te klikken, ookal zit je er iets naast */
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.nav__grid__column-5  a:hover {
    transition: all 0.3s ease;
    color: hsl(211, 30%, 69%);
}

.nav__grid__column-5  a:active {
    color: hsl(0, 0%, 30%);
}

/* responsive */
.hamburger__container {
    display: none;
}

.hamburger { 
    display: block; 
    width: 30px; 
    margin-top: 25px;
    } 
.hamburger__container {  
    display: block;
    float: right;
    } 
.nav__grid__column-5 { 
    display: none; 
    width: 100%; 
    transition: all 0.3s ease; 
    } 
.nav__grid__column-5 a { 
    display: inline-block; 
    width: 100%; 
    text-align: right; 
    text-decoration: none; 
    margin-top: 2px; 
    padding: 10px 0px; 
    }
}

/* second navigation */
.second-nav__item {
    float: left;
}
.second-nav__item a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.second-nav__item a:hover {
    transition: all 0.3s ease;
    color: hsl(211, 30%, 69%);
}

.second-nav__item a:active {
    color: hsl(0, 0%, 30%);
}

.navigation-big {
    padding-top: 15%;
}

.second-nav__item a:hover:after {
    width: 110%;   
}
.second-nav__item a:after {
    content: '';
    display: block;
    width: 0;
    height: 20px;
    background: hsl(225, 100%, 85%);
    transition: width .3s ease-in-out;
    z-index: -1;
    margin-left: -5px;
    margin-top: -20px;
    
}


/******************** end navigation ********************/

/******************** containers********************/
.home-container{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../assets/images/imgheaderhome.jpg');
}

.about-container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../assets/images/imgheaderaboutus.jpg');
    
}

.contact-container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../assets/images/imgheadercontact.jpg');

}

.portfolio-container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../assets/images/imgheaderportfolio.jpg');

}

.approach-container {
    width: 100%;
    height: 100%;
    background-color: hsl(225, 100%, 85%)
}
/******************** end containers ********************/

/******************** css index ********************/
.buttonleft {
    float: left;
    padding-top: 511px;
}

.approach-intro {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    margin-bottom: 150px;
}

.portfolio-intro {
    height: 120%;
}

.getstarted-intro {
    height: 170%;
}

.button-tag {
    padding: 76px 0;
    float: right;
}

/********************  end css index ********************/

/********************  css our approach ********************/
.header {
    padding-top: 150px;
    margin-bottom: 100px;
}

.approach_width {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.middletext {
    text-align: center;
    color: white;
}

.sampling-box {
    height: 100%;
}

.img-right-sampling {
    height: 630px;
    background-image: url('../assets/images/imgsample.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-left-recording {
    height: 630px;
    background-image: url('../assets/images/imgrecording.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-right-mastering {
    height: 630px;
    background-image: url('../assets/images/imgmastering.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/********************  end css our approach ********************/

/********************  css portfolio ********************/

.categorie-box {
    height: 100%;
}

/********************  end css portfolio ********************/

/********************  css about us ********************/
.description {
    height: 827px;
}

.number {
    margin-top: 50px;
}

.tekstnumber {
    margin-top: 30px;
    margin-bottom: 100px;

}

.specialpadding {
    line-height: 1.20;
}

.center_better {
    padding-top: 110px;
    margin-bottom: 40px;
}

.team {
    height: 752px;
    background-color: hsl(128, 100%, 86%);
}

.center_team {
    padding-top: 90px;
    margin-bottom: 40px;
}


.quote {
    height: 752px;
    color: hsl(0, 0%, 13%);
    background-color: white;

}
/********************  end css about us ********************/

/********************  css contact ********************/
.message-container {
    position: absolute;
    width: 60%;
    background-color: hsl(0, 0%, 13%);
    height: 451px;
    margin-left: 18%;
    margin-top: 150px;
}

.form-container {
    margin: 25px 0;
}

.telephone {
    height: 700px;
}

.call-banner {
    padding-top: 200px;
    padding-bottom: 50px;
}

.tel-number {
    border: solid 8px hsl(0, 0%, 100%);
    display: inline-block;
    padding: 5px 90px;
}

/* form */
input {
    width: 100%;
    padding: 12px;
    border: solid 2px hsl(0, 0%, 100%);
    background-color: transparent;
    font-size: 16px;
    font-family: 'Gotham';
    color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    outline: none;
}

input:focus {
    border-color: hsl(225, 100%, 85%);
    background-color: hsl(225, 100%, 85%);
}

textarea {
    height: 114px;
    padding: 12px;
    width: 100%;
    border: solid 2px hsl(0, 0%, 100%);
    background-color: transparent;
    font-size: 16px;
    font-family: 'Gotham';
    color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    outline: none;
    resize: none;
}

.form__submit {
    font-weight: bold;
    cursor: pointer;
}

.form__submit:hover {
    color: hsl(0, 0%, 13%);
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 100%);
    transition: all .3s ease;
}
/* end form */
/* google maps */
#divMap {
    height: 526px;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
    /*background: url(https://ableton-production.imgix.net/tours/live/header-extend.jpg?auto=format&fm=jpg&fit=crop) no-repeat center center;*/
    background-size: cover;

    z-index:0;
}
/* end google maps */
/********************  end css contact ********************/

.margin-less-top {
    margin-top: 30px;
}

.margin-top {
    margin-top: 100px;
}

.margin-topper {
    margin-top: 250px;
}

.margin-bottom {
    margin-bottom: 200px;
}


.banner {
    float: right;
    text-align: right;
    padding-top: 250px;
    
}

.close__lineheight {
    line-height: 1.1;
    padding-bottom: 30px;
}




/******************** float boxes ********************/
.box-left {
    margin-top: 250px;
    height: 630px;
}

.box-right {
    float: right;
    padding-right: 0;
    height: 630px;
}

.float-right {
    float: right;
}
/******************** end float boxes ********************/

/******************** color boxes ********************/
.color-blue {
    background-color: hsl(225, 100%, 85%);
}

.color-red {
    background-color: hsl(12, 100%, 90%);
}

.color-green {
    background-color: hsl(128, 100%, 86%);
}
/******************** end color boxes ********************/

/******************** text colors ********************/
.text-black {
    color: hsl(0,0%, 13%);
    padding-top: 10px;
}

.text-white {
    color: hsl(0, 0%, 100%);
}
/******************** end text colors ********************/

/******************** text align ********************/
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
/******************** end text colors ********************/

/******************** buttons ********************/

.btnbig {
    display: inline-block;
    border: solid 5px;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.btnbig:hover {
    transition: all .3s ease;
    color: rgba(33, 33, 33, 0.8);
    background-color: hsl(0, 0%, 100%);
    border-color: rgba(255, 255, 255, 0.8);

}

.btnbig:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(211, 30%, 69%);
    border-color: hsl(211, 30%, 69%);
}


.btnlstn {
    display: inline-block;
    border: solid 7px;
    color: hsl(0, 0%, 13%);
    border-color: hsl(0, 0%, 13%);
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.btnlstn:hover {
    transition: all .3s ease;
    color: hsl(212, 14%, 51%);
    background-color:transparent;
    border-color: hsl(212, 14%, 51%);

}

.btnlstn:active {
    color:  hsl(0, 0%, 13%);
    background-color: hsl(211, 30%, 69%);
    border-color: hsl(211, 30%, 69%);
}

.btnlink {
    display: inline-block;
    border: solid 7px;
    color: hsl(0,0%, 13%);
    border-color: hsl(0,0%, 13%);
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.btnlink:hover {
    transition: all .3s ease;
    color: hsl(0, 0%, 100%);
    background-color: hsl(225, 100%, 85%);
    border-color: hsl(225, 100%, 85%);

}

.btnlink:active {
    color:  hsl(0, 0%, 100%);
    background-color: hsl(211, 30%, 69%);
    border-color: hsl(211, 30%, 69%);
}

.footerbtn {
    color: hsl(0, 0%, 100%);
    font-size: 40px;
}

.footerbtn:hover {
    transition: all .3s ease;
    color: hsl(225, 100%, 85%);
    
}

/******************** end buttons *******************/

/******************** footer ********************/
footer {
    background: hsl(0, 0%, 13%);
    padding-top: 30px;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}


.ul {
    list-style-type: none;
}

li {
    color: white;
    list-style-type: none;
    font-size: 12px;
}

.whitefooter {
    color: white;
    font-size: 10px;
}
/******************** end footer *******************/

/* grootte play button */

.fa-play {
    font-size: 35px;
}
/* big audio button */

.audiobtn__big {
    width: 150px;
    height: 100px;
    margin: 40px;
    background-color: hsl(0,0%, 13%);
    display: inline-block;
    cursor: pointer;
}


.middle_span {
    width: 27.5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
}

/******************** mediaquery *******************/

@media screen and (max-width: 854px) {
    .banner {
        display: none;
    }
}

@media screen and (max-width: 600px) {
.nav__container { 
    width: 35%; 
    display: block; 
    } 
}