* {
  box-sizing: border-box;
}

body {
  background-color: hsl(12, 100%, 90%);
}

.intro {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
}

h2.styleguide {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  border-bottom: solid 2px #000;
  color: #000;
  margin: 25px 0 15px;

  
}
.styleguides {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 5rem;
  border: solid 5px #000;
  color: #000;
  margin: 25px 0;
  padding: 5px 10px;
  text-align: center;
}

h3.styleguide {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  border-bottom: solid 2px #444444;
  color: #444444;
  margin: 25px 0 15px;
  text-transform: uppercase;
}

footer.styleguidefooter {
  background-color: transparent;
  margin: auto 50px;
}

.border {
  border: solid hsl(0,0%,13%) 2px;
  padding: 10px;
}

.home-afb {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../assets/images/imgheaderhome.jpg');
  height: 303px;
}

.about-afb {
  background-image: url('../assets/images/imgheaderaboutus.jpg');
  height: 303px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.contact-afb {
  background-image: url('../assets/images/imgheadercontact.jpg');
  height: 303px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio-afb {
  background-image: url('../assets/images/imgheaderportfolio.jpg');
  height: 303px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.jeroend-afb {
  background-image: url('../assets/images/img_jeroen_depauw.jpg');
  height: 303px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.mingh-afb {
  background-image: url('../assets/images/img_minghao_li.jpg');
  height: 303px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.jeroenb-afb {
  background-image: url('../assets/images/img_jeroen_bernaerts.jpg');
  height: 303px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.sample-afb {
  background-image: url('../assets/images/imgsample.jpg');
  height: 303px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.record-afb {
  background-image: url('../assets/images/imgrecording.jpg');
  height: 303px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.master-afb {
  background-image: url('../assets/images/imgmastering.jpg');
  height: 303px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


.hoogte {
  margin-bottom: 200px;
}

.margin-top-100 {
  margin-top: 100px;
}

