html {
  /* convert Root EM (rem) from 16px to 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Gotham', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
  color: hsl(60, 3.6%, 11%)
}

h1, h3, h5, h2, h4, h6, p, a {
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.42;
  margin: 0 ;
  letter-spacing: 1px;
}

h1 {
  font-size: 12rem;
  font-weight: bold;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h2 {
  font-weight: bold;
  font-size: 6rem;
  color: hsl(60, 3.6%, 11%);
  margin-bottom: 1rem;
}

h3 {
  font-weight: bold;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.6rem;
  font-weight: bold;
  color: hsl(0,0%,100%);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h5 {
  font-size: 3rem;
  color: hsl(60, 3.6%, 11%);
  margin-bottom: 1rem;
}

h6 {
  font-size: 2rem;
  color: hsl(60, 3,6%, 11%);
  margin-bottom: 1rem;
}

a {
  color: hsl(60, 3.6%, 11%);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.2em;
  padding: 2.5rem;
}

a.linkss {
  font-size: 1.6rem;
  text-decoration: none;
  color: hsl(196, 83%, 40%);
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
  padding: 0;
}

a.linkss:hover {
  transition: all .3s ease;
  text-decoration: none;
  color: hsla(196, 76%, 40%, 0.3);
}

a.linkss:visited {
  text-decoration: none;

}

a.linkss:active {
  text-decoration: none;
  color: hsl(196, 83%, 36%);
}

a.btnsmall { 
  font-family: 'Gotham', sans-serif;
  font-size: 1rem;   
  text-transform: uppercase;
  line-height: 35px;
  font-weight: normal;
  letter-spacing: 1px;
}

a.btnbig, a.btnlstn {
  font-family: 'Gotham', sans-serif;
  font-size: 2rem;   
  text-transform: uppercase;
  line-height: 53px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

a.btnlink {
  font-family: 'Gotham', sans-serif;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 48px;
  font-weight: bold;
}

p.sansserif {
  font-family: 'Gotham', sans-serif;
  font-size: 1.4rem;
  color: hsl(60, 3.6%, 11%);
}

span {
  font-size: 1.2rem;
  text-transform: uppercase;
}
